@model Laboratorio1IngSw.Models.DB.TestTemas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TestTemas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temas.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temas.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTest }) |
    @Html.ActionLink("Back to List", "Index")
</p>
