@model IEnumerable<Laboratorio1IngSw.Models.DB.TestTemas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temas.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temas.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDTest }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDTest }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDTest })
        </td>
    </tr>
}

</table>
